<main class="aplikacja">
    <nav>
        <a href="@Url.Action("Index","Home")"><img src="~/Content/obrazki/u10.png" /></a>
    </nav>
   
    <section class="text-center text-white font-weight-bold aplikacja-section">
        <h3 class="font-weight-bold my-5" style="text-decoration:underline;">Aplikacja</h3>
        <p class="mt-4">
            Aplikacja mobilna Ar-Car to największa w Polsce baza <br />
            warsztatów, dostępna na Twoim telefonie.<br />
            Wybierz Twój warsztat i umów wizytę za pośrednictwem aplikacji.
        </p>
        <p>
            Twój ulubiony warsztat<br />
            zawsze pod ręką<br />
            W Ar-Car wiemy jak ważny jest dla Ciebie czas.
        </p>
        <div class="py-5"></div>
        <div class="py-5"></div>
        <div class="py-5"></div>
    </section>
</main>

