
@{
    ViewBag.Title = "Cennik";
}

<main>
    <nav style="background-color:#99CCFF" class="text-center py-3">
        <a href="@Url.Action("Index","Home")"><img src="~/Content/obrazki/u5.png" class="float-left mt-2 ml-4" /></a>
        <h2 class="lokalizacja-h2 font-weight-bold">Cennik</h2>
    </nav>
    <section class="row m-auto py-5" style="font-size:1em;">
        <div class="m-auto py-5">
            <h4>Cennik usług</h4>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Rodzaj usługi</th>
                        <th>Cennik</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Wymiana opon</td>
                        <td>100 zł</td>
                    </tr>
                    <tr>
                        <td>Wywarzanie opon</td>
                        <td>120 zł</td>
                    </tr>
                    <tr>
                        <td>Przegląd auta</td>
                        <td>150 zł</td>
                    </tr>
                    <tr>
                        <td>
                            Konserwacja podwozia

                        </td>
                        <td>200 zł</td>
                    </tr>
                    <tr>
                        <td>Wymiana tarcz hamulcowych</td>
                        <td>60 zł</td>
                    </tr>
                    <tr>
                        <td>Wymiana klocków hamulcowych</td>
                        <td>50 zł</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>
