<a href="@Url.Action("Index", "Home")" class="btn btn-light">Strona główna</a>
<nav style="background-color:#99CCFF" class="text-center py-3">
    <a href="@Url.Action("Index","Home")"><img src="~/Content/obrazki/u5.png" class="float-left mt-2 ml-4" /></a>
    <h2 class="lokalizacja-h2">Kontakt</h2>
</nav>
<a href="" class="btn btn-primary">Kontakt</a>
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br /><div class="text-center">
    <address>
        <strong>Adres:</strong>
        <br />Miła 17<br />
        35-317 Rzeszów<br />
        tel.: 111-222-333<br />
        e-mail: biuro@ar-car.pl<br />
    </address>

    <address>
        <strong>Godziny otwarcia:</strong>
        <br />Poniedziałek – Piątek 08:00 - 17:00<br />
        Sobota: nieczynne<br/ >
        Niedziela: nieczynne<br />
    </address>
    <br />
</div>


