
@{
    ViewBag.Title = "Lakiernia";
}

<main class="mb-5">
    <nav style="background-color:#99CCFF" class="text-center py-3">
        <a href="@Url.Action("Index","Home")"><img src="~/Content/obrazki/u5.png" class="float-left mt-2 ml-4" /></a>
        <h2 class="lokalizacja-h2 font-weight-bold">Lakiernia</h2>
    </nav>
    <section class="row py-1 m-auto text-center" style="font-size:1.2em;">
        <div class="col-2"></div>
        <div class="col-8">
            <img src="~/Content/obrazki/u10 (1).png" class="img-fluid" />
            <p>
                Lakiernia w naszej firmie jest wyposażona w nowoczesny sprzęt potrzebny do wykonania profesjonalnej naprawy karoseryjnej.

                Mamy podpisaną umowę z firmami ubezpieczeniowymi na likwidację szkód komunikacyjnych.
            </p>
        </div>
        <div class="col-2"></div>
    </section>

</main>
