<main>
    <nav style="background-color:#99CCFF" class="text-center py-3">
        <a href="@Url.Action("Index","Home")"><img src="~/Content/obrazki/u5.png" class="float-left mt-2 ml-4" /></a>
                <h2 class="lokalizacja-h2">Lokalizacja</h2>  
    </nav>
    <section class="text-center">
        <p class="my-5">Jak do nas trafić ?</p>
        <p class="my-5">Trasa do warsztatu: </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7574.389682507181!2d21.9993368982262!3d50.00357791341194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473cfa3c16c21c59%3A0xc2c5be19b4c8fef7!2zTWnFgmEgMTcsIDM1LTMwNCBSemVzesOzdw!5e0!3m2!1spl!2spl!4v1562000343895!5m2!1spl!2spl" width="400" height="300" frameborder="0" style="border:0" class="mb-5" allowfullscreen></iframe>
    </section>
</main>
