@{
    ViewBag.Title = "O_nas";
}
<nav style="background-color:#99CCFF" class="text-center py-3">
    <a href="@Url.Action("Index","Home")"><img src="~/Content/obrazki/u5.png" class="float-left mt-2 ml-4" /></a>
    <h2 class="lokalizacja-h2">O_nas</h2>
</nav>
<address>
    <br />
    Ar-Car oferuje rozwiązania dla branż technicznych głównie związanych z transportem i motoryzacją. Posiadamy liczny sprzęt i bogato wyposażony warsztat, świadczymy usługi spawalnicze i naprawcze. Pracują u nas najlepsi i doświadczeni fachowcy.

    Oferujemy najniższe ceny i miłą oraz kompetentną obsługę.

    Marki, w których się specjalizujemy:
    Z najwyższą starannością obsługujemy wszystkie zadeklarowane marki. Nie wybraliśmy jednak jeszcze szczegółowej specjalizacji.
    <br />
</address>



