<nav style="background-color:#99CCFF" class="text-center py-3">
    <a href="@Url.Action("Index","Home")"><img src="~/Content/obrazki/u19.png" class="float-left mt-2 ml-4" /></a>
    <h2 class="lokalizacja-h2">Oferta</h2>
</nav>

@{
    ViewBag.Title = "Oferta";
}
<br /><div class="text-center">
    <strong>Nasz warsztat oferuje:</strong>

    <br><a href="" class="btn btn-primary">sklep z częściami</a><br />
    <br><a href="" class="btn btn-primary">Lakierowanie</a><br />
    <br><a href="" class="btn btn-primary">Mechanika</a><br />
    <br><a href="" class="btn btn-primary">Blacharka</a><br />
    <br><a href="" class="btn btn-primary">Nabijanie klimatyzacji</a><br />
    <br><a href="" class="btn btn-primary">Diagnostyka</a><br />
    <br />
</div>

