
@{
    ViewBag.Title = "Raport_Sprzedazy";
}

<main>
    <nav style="background-color:#99CCFF" class="text-center py-3">
        <a href="@Url.Action("Index","Home")"><img src="~/Content/obrazki/u5.png" class="float-left mt-2 ml-4" /></a>
        <h2 class="lokalizacja-h2 font-weight-bold">Raport sprzedaży</h2>
    </nav>
    <section class="row m-auto">
        <div class="m-auto">
            <table class="table table-bordered text-center" style="font-size:0.7em;">
                <thead>
                    <tr>
                        <th>Nazwa zlecenia</th>
                        <th>Zarobek miesięczny</th>
                        <th>Ilość zleceń</th>
                        <th>Miesiąc</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Wymiana klocków hamulcowych</td>
                        <td>1000 zł</td>
                        <td>20</td>
                        <td>Styczeń</td>
                    </tr>
                    <tr>
                        <td>
                            Wymiana tarcz hamulcowych
                        </td>
                        <td>900 zł</td>
                        <td>15</td>
                        <td>Luty</td>
                    </tr>
                    <tr>
                        <td>
                            Wymiana opon

                        </td>
                        <td>5000 zł</td>
                        <td>50</td>
                        <td>Marzec</td>
                    </tr>
                    <tr>
                        <td>Wywarzanie opon</td>
                        <td>1200 zł</td>
                        <td>10</td>
                        <td>Kwiecień</td>
                    </tr>
                    <tr>
                        <td>Przegląd auta</td>
                        <td>750 zł</td>
                        <td>5</td>
                        <td>Maj</td>
                    </tr>
                    <tr>
                        <td>Konserwacja podwozia</td>
                        <td>18000 zł</td>
                        <td>90</td>
                        <td>Czerwiec</td>
                    </tr>
                    <tr>
                        <td>Blacharka</td>
                        <td>5000 zł</td>
                        <td>30</td>
                        <td>Lipiec</td>
                    </tr>
                    <tr>
                        <td>Lakierowanie</td>
                        <td>30000 zł</td>
                        <td>8</td>
                        <td>Sierpień</td>
                    </tr>
                    <tr>
                        <td>Diagnostyka</td>
                        <td>2000 zł</td>
                        <td>4</td>
                        <td>Wrzesień</td>
                    </tr>
                    <tr>
                        <td>Wymiana rozrządu</td>
                        <td>4000 zł</td>
                        <td>2</td>
                        <td>Pazdziernik</td>
                    </tr>
                    <tr>
                        <td>Wymiana oleju</td>
                        <td>500 zł</td>
                        <td>9</td>
                        <td>Listopad</td>
                    </tr>
                    <tr>
                        <td>
                            Wymiana świec zapłonowych

                        </td>
                        <td>300 zł</td>
                        <td>50</td>
                        <td>Grudzień</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

