
@{
    ViewBag.Title = "Sklep_z_czesciami";
}

<main class="mb-5">
    <nav style="background-color:#99CCFF" class="text-center py-3">
        <a href="@Url.Action("Index","Home")"><img src="~/Content/obrazki/u5.png" class="float-left mt-2 ml-4" /></a>
        <h2 class="lokalizacja-h2 font-weight-bold">Sklep z częściami</h2>
    </nav>
    <section class="row py-1 m-auto text-center" style="font-size:1.2em;">
        <div class="col-2"></div>
        <div class="col-8">
            <img src="~/Content/obrazki/u8.png" class="img-fluid" />
            W naszym sklepie oferujemy w konkurencyjnych cenach wszystkie części potrzebne do naprawy samochodu. Dzięki współpracy z największymi hurtowniami motoryzacyjnymi mamy dostęp do praktycznie każdej części w ciągu maksymalnie 24 godzin. Sprzedajemy tylko części renomowanych firm , które w wyniku długoletniego doświadczenia możemy polecić oraz dać gwarancję na okres 12 miesięcy.
        </div>
        <div class="col-2"></div>
    </section>

</main>

