<nav style="background-color:#99CCFF" class="text-center py-3">
    <a href="@Url.Action("Index","Home")"><img src="~/Content/obrazki/u19.png" class="float-left mt-2 ml-4" /></a>
    <h2 class="lokalizacja-h2">Umawianie wizyt</h2>
</nav>
@{
    ViewBag.Title = "Umawianie_wizyt";
}
<div class="row mb-4">
    <div class="m-auto">
        <br>Dzień<br />
        <input type="text" class="form-control" />
        <br>Godzina<br />
        <input type="text" class="form-control" />
        <br>Marka<br />
        <input type="text" class="form-control" />
        <br>Opis usterki<br />
        <textarea class="form-control"></textarea>
        <br />

        <br><a href="" class="btn btn-primary">Zarezerwuj</a><br />
    </div>
</div>

